.information-container {
  position: relative;
  display: inline-block;
}

.info-button {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  opacity: 0.8;
  font: inherit;
}

.info-box-wrapper {
  position: relative;
  display: inline-block;
}

.info-box {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
  position: relative;
  display: inline-block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  background-color: #f87171;
  color: white;
  border: none;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
